#form-announcements
{
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-areas: "header header header"
   "null0 form-area null1"
   "footer footer footer"
   ;

}

.page-header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "top-bar"
    "header-content";
    max-height: 400px;
    max-width: 100%;
}

.top-bar-container 
{
    grid-area: top-bar;
    height: 100px;
    width: 100%;
    background-color: #222222;
    display: grid;
    grid-template-areas: "back logo-area";
    grid-template-columns: 10% 80%;  
}

.back
{
    grid-area: back;
    align-self: center;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.back p
{
    margin: 0.2rem 0;
    color: #FFFFFF;
    font-size: 1.1rem;
}
.logo-area
{
    grid-area: logo-area;
    align-self: center;

}
.logo-area img 
{
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 96px;
}
.logo-area p 
{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.to
.header-content
{
    grid-area: header-content;
    background-color: #666666;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content p 
{
    color: #FFFFFF;
    max-height: 200px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.form-area 
{
    grid-area: form-area;
    padding: 2rem;
   align-items: center;
   justify-items: center;
}

.form-area h2
{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1rem;
}
.null0
{
    grid-area: null0;
}
.null1
{
    grid-area: null1;
}
.form 
{
    grid-area: form;
    position: relative;
   
    background-color: #FFFFFF;
    border-radius: 8px;
    max-width: 736px;
    padding-top: 1.5rem;
    min-height: 80vh;
    margin: 0 auto;
}

.input-group 
{
    padding: 0.8rem;
    margin: 0 auto;
    max-width: 70%;
}
.input-group input, textarea
{
    margin-top: 0.5rem;
    border-radius: 5px;
    width: 100%;
    color: rgb(5, 2, 2);
    border: 1px solid rgb(165, 163, 163);
}

.input-group input
{
    height: 30px;
    text-align: center;
}
.input-group label
{   
    font-size: 0.9rem;
    font-weight: 700;
}

.button-area 
{
    margin: 1.2rem auto;
    width: 120px;
    height: 56px;
}

.button-area button
{
    padding: 0.7rem;
    width: 100%;
    border-radius: 8px;
    background-color: #222222;
    color: #FFFFFF;
    border: none;
}
.footer
{
    grid-area: footer;
    width: 100%;
    background-color: #222222;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p
{
    text-align: center;
    padding: 1rem;
    color: #FFFFFF;
}

